@primary: #428BCA;
@primary_border: #428bca;
@info: #329BB2;
@white: #fff;

html, body {
  font-family: 'Noto Sans', 'HeiTi TC', "微軟正黑體", 'Microsoft JhengHei', sans-serif, serif;
  font-size: 17px;
  margin: 0;
  height: 100%;
  padding: 0;
}
.outer_wrapper {
  position: relative;
  height: 100%;
}
.top_wrapper {
  width: 100%;
  height: 80px;
  background: url('../img/yolyo_pad.png') #222 no-repeat center center;
}
.content_wrap {
  min-height: 500px;
  position: relative;
  width: 100%;
  & > div {
    font-size: 1.5em;
  }
}

.background_regular {
  background-size: 100% auto !important;
}

.background_different {
  background-size: auto 100% !important;
}

#infographic {
  background: #F6F2E3;
  vertical-align: middle;
}
#logo_page {
  // background: #f9f9f9;
  background: url('../img/sitebackground0.jpg') no-repeat center center;
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 328px;
    margin: -164px 0 0 -500px;
  }
  .logo_placement {
    // background: url('../img/cyan_logo.jpg') no-repeat center center;
    // background: url('../img/yolyo_primary_subscript.jpg') no-repeat center center;
    background: url('../img/yolyo_lined_transparent.png') rgba(119,198,215, 0.8) no-repeat center center;
    width: 1000px;
    height: 328px;
    background-size: 100%;
  }
}
#infographic div {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  text-align: center;
  width: 100%;
  height: 70px;
  font-size: 3em;
}

#mission div {
  color: #000;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -141px;
  width: 100%;
}
.paragraph_content {
  & > h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 0;
    float: right;
    font-weight: bold;
    span {
      font-size: 1.2em;
      color: #000;
    }
  }
  p {
    // line-height: 1.5em;
    margin: 10px 20px;
    line-height: 170%;
  }
}
.clearfix {
  clear: both;
}
#mission {
  background: url('../img/sitebackground1.jpg') no-repeat center center;
}
#why {
  background: url('../img/sitebackground2.jpg') no-repeat center center;
}
#why_two {
  background: url('../img/sitebackground3.jpg') no-repeat center center;
}
#why_three {
  background: url('../img/sitebackground4.jpg') no-repeat center center;
}
#action {
  background: url('../img/sitebackground5.jpg') no-repeat center center;
}
#logistics {
  background: url('../img/sitebackground6_edit.jpg') no-repeat center center;
}
#tool {
  background: url('../img/sitebackground7.jpg') no-repeat center center;
  & > div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  &.content_wrap > div {
    height: 70px;
    margin-top: -70px;
  }
  .paragraph_content {
    h1 {
      font-size: 2.5em;

    }
  }
}
#tool_two {
  background: url('../img/sitebackground8.jpg') no-repeat center center;
}
#join {
  background: url('../img/sitebackground9.jpg') no-repeat center center;
}
#join_modal_yolyo {
  h3 {
    margin-bottom: 25px;
    text-align: center;
    background: @info;
    color: @white;
    text-shadow: 0px -1px 0px rgb(0, 0, 0);
    padding: 20px 0;
  }
  ul {
    display: inline-block;
    // border: 1px solid #000;
    position: relative;
    left: 50%;
    width: 370px;
    margin-left: -185px;
    margin-bottom: 0;
    font-size: 1.2em;
    li {
      line-height: 1.8em;
    }
  }
}
#team {
  background: url('../img/sitebackground10.jpg') no-repeat center center;
}
#why h1 {
  float: right;
}
#why.content_wrap > div, #why_two.content_wrap > div {
  width: 750px;
  height: 330px;
  margin: -165px 0 0 -375px;
  padding: 35px 35px 25px;
  background: rgba(255, 255, 255, 0.5);
  // background: rgba(255, 255, 255, 0.3);
}
#why_two.content_wrap > div {
  padding: 40px 35px 15px;
  background: rgba(255, 255, 255, 0.7);
  width: 750px;
  height: 330px;
  margin: -165px 0 0 -375px;
}
#action.content_wrap > div {
  background: rgba(255, 255, 255, 0.4);
  width: 720px;
  height: 430px;
  padding: 25px 30px 15px;
  margin: -215px 0 0 -360px;
}
#action {
  .paragraph_content {
    ol {
      padding-left: 70px;
    }
    li {
      line-height: 1.7em;
    }
  }
}
#logistics {
  .paragraph_content {
    .small_box_top {
      background: rgba(255, 255, 255, 0.6);
      font-size: 0.9em;
      padding: 10px 15px;
      margin-bottom: 20px;
    }
    .small_box {
      width: 320px;
      display: inline-block;
      /*border: 1px solid #000;*/
      background: rgba(255, 255, 255, 0.6);
      padding: 10px 15px;
      font-size: 0.8em;
      & > h2 {
        font-weight: bold;
        text-align: center;
      }
    }
    .left {
      float: left;
      // margin-right: 120px;
      margin-right: 20px;
    }
    .right {
      float: right;
    }
  }
  &.content_wrap > div {
    // width: 1200px;
    width: 1000px;
    height: 492px;
    // margin: -246px 0 0 -600px;
    margin: -296px 0 0 -500px;
  }

}

#tool_two > div, #logistics > div, #why > div, #why_two > div, #why_three > div, #action > div {
  position: absolute;
  top: 50%;
  left: 50%;
}
#why_three.content_wrap > div {
  padding: 35px 25px 35px;
  width: 700px;
  height: 560px;
  /*border: 1px solid #000;*/
  margin: -285px 0 0 -350px;
  // margin: -310px 0 0 -50px;
  background: rgba(255, 255, 255, 0.8);
}

#howto {
  background: #F6F2E3;
  color: #000;
  position: relative;
}

#howto div {
  position: absolute;
  top: 50%;
  width: 900px;
  /*margin-top: -221.5px;*/
  left: 50%;
  /*border: 1px solid #000;*/
  height: 700px;
  margin-top: -350px;
  margin-left: -450px;
}

#howto div > ul {
  width: 630px;
  float: right;
}

#howto li {
  line-height: 1.5em;
}

#howto > div > h1 {
  width: 220px;
  border-bottom: .5em solid #D3B4C6;
  position: relative;
  top: 50%;
  margin-top: -70px;
}

.modal-dialog {
  .modal-footer {
    margin-top: 0;
    padding: 10px;
    .btn {
      width: 100%;
    }
  }
  width: 800px;
  margin-left: -400px;
  .input-group {
    margin-bottom: 15px;
    input {
      border-color: @primary_border;
    }
  }
  .input-group-addon {
    background: @primary;
    color: @white;
    border-color: @primary_border;
    &.input-group-addon-info {
      background: @info;
    }
  }
}
#join .slogan {
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  background: rgba(255, 255, 255, 0.9);
  padding: 25px 0;
  font-weight: bold;
}
#join {
  & > div {
    position: absolute;
    top: 50%;
  }
}
#join.content_wrap > div {
  width: 100%;
  height: 320px;
  // margin: -160px 0 0 0;
  margin: -200px 0 0 0;
}
#join_role_buttons {
  position: absolute;
  left: 50%;
  margin-left: -314px;
  margin-top: 50px;
  &.btn-group .btn {
    padding: 25px 55px;
    font-size: 30px;
    &:first-child {
      border-radius: 20px 0 0 20px;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}

#team {
  .paragraph_content {
    & > h2 {
      font-size: 2.5em;
      position: relative;
      top: 50px;
    }
  }
  & > div {
    width: 1200px;
    height: 700px;
    // font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    // border: 1px solid #000;
    // p {
    //   font-size: 0.6em;
    // }
    font-size: 0.95em;
    #member_emily {
      background-image: url('../img/sitebackground10_emily.png');
    }
    #member_rae {
      background-image: url('../img/sitebackground10_rae.png');
    }
    .member_quote {
      display: inline-block;
      width: 500px;
      height: 260px;
      vertical-align: middle;
      background-position: right center;
      background-origin: content-box, padding-box;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 15px 20px 20px 15px;
      // padding-right: 150px;
      p {
        margin-right: 130px;
      }
    }
  }
}

.content_wrapper {
  min-width: 1000px;
  // min-width: 813px;
  // min-height: 500px;
  height: 100%;
  width: 100%;
  /*background: #77BAB9;*/
}