html, body {
  font-family: 'Noto Sans', serif;
  font-size: 17px;
  margin: 0;
  height: 100%;
  padding: 0;
}
.outer_wrapper {
  position: relative;
  height: 100%;
}
.top_wrapper {
  width: 100%;
  height: 80px;
  /*background: url('../img/logo.png') #222 no-repeat center center;*/
  /*background: url('../img/yolyo_2.png') #222 no-repeat center center;*/
  background: url('../img/yolyo_pad.png') #222 no-repeat center center;
}
.content_wrap {
  /*min-height: 720px;*/
  min-height: 600px;
}
#infographic {
  position: relative;
  background: #FFD98E;
  vertical-align: middle;
}
#infographic div {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  text-align: center;
  width: 100%;
  height: 70px;
  /*color: #fff;*/
  font-size: 3em;
}

#mission {
  background: #CFFBF5;
  position: relative;
}
#mission div {
  color: #000;
  font-weight: bold;
  font-size: 5em;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -141px;
  width: 100%;
}
#why {
  position: relative;
}
#why h1 {
  float: right;
}
#why > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 700px;
  margin: -350px 0 0 -425px;
}
.paragraph_content p {
  margin: 10px 20px;
  line-height: 170%;
}

#howto {
  background: #FEE9F9;
  color: #000;
  position: relative;
}

#howto div {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  width: 900px;
  /*margin-top: -221.5px;*/
  left: 50%;
  /*border: 1px solid #000;*/
  height: 700px;
  margin-top: -350px;
  margin-left: -450px;
}

#howto div > ul {
  width: 630px;
  float: right;
}

#howto li {
  line-height: 1.5em;
}

#howto > div > h1 {
  font-size: 3em;
  width: 220px;
  border-bottom: .5em solid #D3B4C6;
  position: relative;
  top: 50%;
  margin-top: -70px;
}

#tool {
  background: #BDD3C6;
  color: #000;
  position: relative;
}

#tool div {
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  line-height: 1.2em;
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px;
}

#join .slogan {
  font-size: 4em;
  text-align: center;
}

#join > div {
  padding-top: 50px;
}

#join .intro_role div {
  text-align: center;
}

#join_form {
  width: 635px;
  /*border: 1px solid #000;*/
  position: absolute;
  left: 50%;
  margin-left: -317.5px;
  margin-top: 50px;
}
/*#join_form label {
  font-size: 2em;
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  text-align: right;
  border: 1px solid #000;
}*/
#join_form > form > div {
  margin: 15px 0;
}

#join_form > form input {
  padding: 25px 20px;
  font-size: 2em;
  width: 400px;
  border-radius: 20px;
  line-height: 1.5em;
}

#join .intro_role {
  background: #83BD83;
  height: 100px;
}

#join_form .btn-group .btn {
  /*padding: 25px 82px;*/
  padding: 25px 55px;
  font-size: 30px;
}
#join_form .btn-group .btn.active {
}
#join_form .btn-group .btn:first-child {
  border-radius: 20px 0 0 20px;
}
#join_form .btn-group .btn:last-child {
  border-radius: 0 20px 20px 0;
}

#join_form .submit {
  border-radius: 20px;
  float: right;
  font-size: 3em;
  margin-top: 15px;
  width: 168px;
  height: 168px;
  line-height: 1.3em;
  word-wrap: break-word;
}

#team {
  background: #F5F4D2;
  color: #000;
  position: relative;
}

#team div {
  width: 800px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -175px;
  margin-left: -400px;
  font-size: 1.5em;
  height: 350px;
}
#team h1 {
  font-size: 3em;
  text-align: right;
  margin-bottom: 50px;
}
#team p {
  line-height: 1.5em;
  margin-bottom: 1.8em;
}

.content_wrapper {
  /*height: 100px;*/
  height: 100%;
  background: #77BAB9;
}